/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  max-width: 500px;
}

section{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.info {
  flex-grow: 1;
}

.pic{
  flex-grow: 1;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
