/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
body{
  margin: 20px;
  background-image: url('img/BOTW2.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position:left;
  background-attachment: fixed;
  color: white;
}

img{
  display: block;
  margin: 0 auto;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
